<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:task="http://www.springframework.org/schema/task"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
						http://www.springframework.org/schema/task http://www.springframework.org/schema/task/spring-task-4.0.xsd">
	
	<task:scheduled-tasks scheduler="scheduler">
        <task:scheduled ref="twitterPoster" method="execute" cron="0 0/20 * * * ?"/>
        <task:scheduled ref="officialNewsLoader" method="execute" cron="0 0/20 * * * ?"/>
        <task:scheduled ref="instagramPoster" method="execute" cron="0 0/20 * * * ?"/>
        <task:scheduled ref="youtubeChecker" method="execute" cron="0 0 * * * ?"/>
        <task:scheduled ref="spursArmyNewsLoader" method="execute" cron="0 0/20 * * * ?"/>
        <task:scheduled ref="sportsRuNewsLoader" method="execute" cron="0 0/20 * * * ?"/>
        <task:scheduled ref="faplNewsLoader" method="execute" cron="0 0/20 * * * ?"/>
        <!--task:scheduled ref="sportExpressNewsLoader" method="execute" cron="0 0/20 * * * ?"/-->

		<task:scheduled ref="birthdayPoster" method="execute" cron="0 0 10 * * ?"/>
		
        <task:scheduled ref="calendarUpdater" method="execute" cron="0 0 * * * ?"/>
        <task:scheduled ref="playerInfoUpdater" method="execute" cron="0 0 0 0/5 * ?"/>

        <task:scheduled ref="matchInfoLoader" method="execute" cron="0 0/5 * * * ?"/>

        <!-- task:scheduled ref="competitionPagesUpdater" method="execute" cron="0 0/30 * * * ?"/-->
        <task:scheduled ref="calendarPageUpdater" method="execute" cron="0 0/30 * * * ?"/>
        
        <task:scheduled ref="chatMessageResponder" method="execute" cron="0/20 * * * * ?"/>

        <task:scheduled ref="fixtureMonitor" method="execute" cron="0 * * * * ?"/>
    </task:scheduled-tasks>
 
    <task:scheduler id="scheduler" pool-size="10"/>

	<bean id="chatMessageResponder" class="com.vk.tottenham.scheduler.ChatMessageResponder">
		<!--property name="testMode" value="true" /-->
	</bean>

	<bean id="competitionPagesUpdater" class="com.vk.tottenham.scheduler.CompetitionPagesUpdater">
		<!--property name="testMode" value="true" / -->
	</bean>

	<bean id="calendarPageUpdater" class="com.vk.tottenham.scheduler.CalendarPageUpdater">
		<!--property name="testMode" value="true" / -->
	</bean>
	
	<bean id="twitterPoster" class="com.vk.tottenham.scheduler.TwitterPoster">
		<property name="accounts">
			<list>
				<value>HotspurRelated</value>
				<value>SpursStatMan</value>
			</list>
		</property>
		<!--property name="testMode" value="true" /-->
	</bean>

	<bean id="officialNewsLoader" class="com.vk.tottenham.scheduler.OfficialNewsLoader">
		<!-- property name="testMode" value="true" / -->
	</bean>

	<bean id="instagramPoster" class="com.vk.tottenham.scheduler.InstagramPoster">
		<!--property name="testMode" value="true" /-->
	</bean>

	<bean id="youtubeChecker" class="com.vk.tottenham.scheduler.YoutubeChecker">
		<!--property name="testMode" value="true" /-->
	</bean>	

	<bean id="playerInfoUpdater" class="com.vk.tottenham.scheduler.PlayerInfoUpdater">
		<property name="playerService" ref="playerService" />
	</bean>

	<bean id="calendarUpdater" class="com.vk.tottenham.scheduler.CalendarUpdater">
		<property name="fixtureService" ref="fixtureService" />
	</bean>

	<bean id="birthdayPoster" class="com.vk.tottenham.scheduler.BirthdayPoster">
		<!--property name="testMode" value="true" /-->
	</bean>

	<bean id="fantasyResultsPoster" class="com.vk.tottenham.scheduler.FantasyResultsPoster">
		<!--property name="testMode" value="true" /-->
	</bean>

	<bean id="spursArmyNewsLoader" class="com.vk.tottenham.scheduler.SpursArmyNewsLoader">
		<!-- property name="testMode" value="true" / -->
	</bean>

	<bean id="sportsRuNewsLoader" class="com.vk.tottenham.scheduler.SportsRuNewsLoader">
		<!--property name="testMode" value="true" /-->
	</bean>

	<bean id="sportExpressNewsLoader" class="com.vk.tottenham.scheduler.SportExpressNewsLoader">
		<property name="testMode" value="true" />
	</bean>

	<bean id="faplNewsLoader" class="com.vk.tottenham.scheduler.FaplNewsLoader">
		<!--property name="testMode" value="true" /-->
	</bean>

	<bean id="fixtureMonitor" class="com.vk.tottenham.scheduler.FixtureMonitor">
		<property name="testMode" value="true" />
	</bean>

	<bean id="matchInfoLoader" class="com.vk.tottenham.scheduler.MatchInfoLoader">
		<property name="fixtureService" ref="fixtureService" />
		<property name="playerService" ref="playerService" />
		<property name="teamService" ref="teamService" />
		<!-- property name="testMode" value="true" /-->
	</bean>

	<bean id="testVkConfig" class="com.vk.tottenham.core.model.VKConfig">
		<constructor-arg value="125436039"/>
		<constructor-arg value="125436039"/>
		<constructor-arg value="234341611"/>
		<constructor-arg value="377937124" />
	</bean>

	<bean id="vkConfig" class="com.vk.tottenham.core.model.VKConfig">
		<constructor-arg value="15474997" />
		<constructor-arg value="146871984" />
		<constructor-arg value="243675948" />
		<constructor-arg value="2000000001" />
	</bean>
	
	<bean id="httpClientBuilder" class="org.apache.http.impl.client.HttpClientBuilder"
		factory-method="create">	
	</bean>

	<bean id="httpClient" factory-bean="httpClientBuilder" factory-method="build" />
</beans>